[submodule "external/SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "external/SPIRV-Tools"]
	path = external/SPIRV-Tools
	url = https://github.com/sinnwrig/SPIRV-Tools-zig
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/DirectX-Headers"]
	path = external/DirectX-Headers
	url = https://github.com/hexops/directx-headers
[submodule "external/DIA"]
	path = external/DIA
	url = https://github.com/slimsag/DIA
